@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#logo {
    width: 13%;
    height: auto;
}

nav {
    width: 60%;

}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #D21617;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
    }
    ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: start;
    }
}